/**
 * Self-hosted fonts for Beyond Borders
 * 
 * Tilt Warp - SIL Open Font License (OFL)
 * https://fonts.google.com/specimen/Tilt+Warp
 * 
 * Embolism Spark - Handwriting font for progress indicators
 */

@font-face {
  font-family: 'Tilt Warp';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./tilt-warp.ttf') format('truetype');
}

@font-face {
  font-family: 'Embolism Spark';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('./embolism-spark.regular.ttf') format('truetype');
}
